@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    position: relative; 
  }
  #taches {padding-top:50px;color: #fff; background-color: #1E88E5;}
  #statistiques {padding-top:50px; background-color: #FFFFFF;}